# El siguiente archivo consta del procedimiento de extraccion, transformacion y carga realizado en los datasets con el objetivo normalizar y estructurar las tablas definidas en el diagrama de entidad - relacion.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

### Carga del dataframe que contiene la data de los restaurantes latinos de Google Maps

In [ ]:
# Carga del dataset original de negocios en google maps
sitios_original = pd.read_parquet('./Datasets_limpios/Google/sitios_google_original.parquet')

In [ ]:
# Carga del dataset de restaurantes latinos extraidos del dataset original
latin_restaurants = pd.read_csv('./Datasets_limpios/Google/latin_restaurants_google.csv')

In [ ]:
# Informacion del dataframe de restaurantes latinos de google
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28918 entries, 0 to 28917
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gmap_id         28918 non-null  object
 1   category        28918 non-null  object
 2   description     6972 non-null   object
 3   avg_rating      28918 non-null  float64
 4   num_of_reviews  28918 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ MB

In [ ]:
# Informacion del dataframe original
sitios_original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2998428 entries, 0 to 3025010
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   name              object
 1   address           object
 2   gmap_id           object
 3   description       object
 4   latitude          float64
 5   longitude         float64
 6   category          object
 7   avg_rating        float64
 8   num_of_reviews    int64
 9   price             object
 10  hours             object
 11  MISC              object
 12  state             object
 13  relative_results  object
 14  url               object
dtypes: float64(3), int64(1), object(11)
memory usage: 366.0+ MB

In [ ]:
# Eliminacion de columnas innecesarias del dataframe
latin_restaurants.drop(columns=['description', 'avg_rating', 'num_of_reviews'], inplace=True)

In [ ]:
# Confirmacion de la eliminacion
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28918 entries, 0 to 28917
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gmap_id   28918 non-null  object
 1   category  28918 non-null  object
dtypes: object(2)
memory usage: 452.0+ KB

In [ ]:
# Unión interna (solo filas con gmap_id en común)
latin_restaurants = pd.merge(latin_restaurants, sitios_original, on='gmap_id', how='inner')

In [ ]:
# Dataframe unido
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28918 entries, 0 to 28917
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gmap_id           28918 non-null  object
 1   category_x        28918 non-null  object
 2   name              28918 non-null  object
 3   address           28805 non-null  object
 4   description       6972 non-null   object
 5   latitude          28918 non-null  float64
 6   longitude         28918 non-null  float64
 7   category_y        28918 non-null  object
 8   avg_rating        28918 non-null  float64
 9   num_of_reviews    28918 non-null  int64
 10  price             12400 non-null  object
 11  hours             26816 non-null  object
 12  MISC              28828 non-null  object
 13  state             26874 non-null  object
 14  relative_results  23072 non-null  object
 15  url               28918 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 3.5+ MB

In [ ]:
# Previsualizacion del dataframe
latin_restaurants.head(2)

,gmap_id,category_x,name,address,description,latitude,longitude,category_y,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,0x89e44fe1c2a2a2c3:0x5fc9f6751fb29737,Dominican restaurant,Paula's Kitchen,"Paula's Kitchen, 777 Elmwood Ave, Providence, ...",None,41.790994,-71.422631,[Dominican restaurant],4.7,18,None,"[[Thursday, 11AM–7PM], [Friday, 11AM–7PM], [Sa...",{'Accessibility': ['Wheelchair accessible entr...,Permanently closed,None,https://www.google.com/maps/place//data=!4m2!3...
1,0x808f879f35b5088b:0xe3541cec7a95bd88,Taco restaurant,TACOS LA CABANA,"TACOS LA CABANA, 2015 22nd Ave, Oakland, CA 94606",None,37.789076,-122.233884,[Taco restaurant],5.0,2,None,"[[Thursday, Closed], [Friday, 5–11PM], [Saturd...","{'Accessibility': None, 'Activities': None, 'A...",Closed ⋅ Opens 5PM Fri,None,https://www.google.com/maps/place//data=!4m2!3...

In [ ]:
# Procedemos a eliminar la columna repetida 'category'
latin_restaurants.drop(columns=['category_y'], inplace=True)

In [12]:
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28918 entries, 0 to 28917
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gmap_id           28918 non-null  object
 1   category_x        28918 non-null  object
 2   name              28918 non-null  object
 3   address           28805 non-null  object
 4   description       6972 non-null   object
 5   latitude          28918 non-null  float64
 6   longitude         28918 non-null  float64
 7   avg_rating        28918 non-null  float64
 8   num_of_reviews    28918 non-null  int64
 9   price             12400 non-null  object
 10  hours             26816 non-null  object
 11  MISC              28828 non-null  object
 12  state             26874 non-null  object
 13  relative_results  23072 non-null  object
 14  url               28918 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 3.3+ MB

In [ ]:
# Eliminacion del dataframe original para recuperar memoria
del sitios_original

In [ ]:
# Renombre de la columna 'category'
latin_restaurants = latin_restaurants.rename(columns={'category_x': 'category'})

In [ ]:
# Exportacion a un archivo .csv
latin_restaurants.to_csv('./Datasets_limpios/Google/latin_restaurants.csv', index=False)

### ETL New York (filtrado de la data de reviews y filtrado de la data de restaurants)

##### Filtrado de la data de reviews

In [ ]:
# Carga del dataset de reviews de NY procesado previamente
reviews_new_york = pd.read_parquet('./Datasets/Google_maps/df_new_york.parquet')

In [ ]:
# Previsualizacion del dataframe
reviews_new_york.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700000 entries, 0 to 2699999
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  float64
 1   name     object
 2   rating   int64
 3   text     object
 4   gmap_id  object
dtypes: float64(1), int64(1), object(3)
memory usage: 103.0+ MB

In [ ]:
# Union de los restaurantes latinos y las reviews a traves del 'gmap_id'
latin_restaurants_ny = pd.merge(latin_restaurants, reviews_new_york, on='gmap_id', how='inner')

In [ ]:
# Informacion del dataframe unido filtrado por las reviews de NY
latin_restaurants_ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118035 entries, 0 to 118034
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gmap_id           118035 non-null  object
 1   category          118035 non-null  object
 2   name_x            118035 non-null  object
 3   address           118035 non-null  object
 4   description       56634 non-null   object
 5   latitude          118035 non-null  float64
 6   longitude         118035 non-null  float64
 7   avg_rating        118035 non-null  float64
 8   num_of_reviews    118035 non-null  int64
 9   price             87535 non-null   object
 10  hours             115649 non-null  object
 11  MISC              117622 non-null  object
 12  state             115649 non-null  object
 13  relative_results  111839 non-null  object
 14  url               118035 non-null  object
 15  user_id           118035 non-null  float64
 16  name_y            118035 non-null  object
 17  rating            118035 non-null  int64
 18  text              118035 non-null  object
dtypes: float64(4), int64(2), object(13)
memory usage: 17.1+ MB

In [ ]:
# Visualizacion de las columnas del dataframe
latin_restaurants_ny.columns

Index(['gmap_id', 'category', 'name_x', 'address', 'description', 'latitude',
       'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url', 'user_id', 'name_y', 'rating',
       'text'],
      dtype='object')

In [ ]:
# Eliminacion de columnas innesarias enfocado a la tabla reviews
latin_restaurants_ny.drop(columns=['category', 'name_x', 'address', 'description', 'latitude', 'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC', 'state', 'relative_results', 'url'], inplace=True)

In [64]:
latin_restaurants_ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118035 entries, 0 to 118034
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   gmap_id  118035 non-null  object
 1   user_id  118035 non-null  float64
 2   name_y   118035 non-null  object
 3   rating   118035 non-null  int64
 4   text     118035 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.5+ MB

In [ ]:
# Creacion de una nueva columna con el valor de estado al cual pertenecen
latin_restaurants_ny['state_usa'] = 'NY'

In [ ]:
# Renombre de columna 'name'
latin_restaurants_ny = latin_restaurants_ny.rename(columns={'name_y': 'name'})

In [ ]:
# Previsualizacion del dataframe
latin_restaurants_ny.head(2)

,gmap_id,user_id,name,rating,text,state_usa
0,0x89c244427d3e2c19:0xc1dbf7d8e71d7201,1.146613e+20,Anya,5,"Today was my first time at Casa Malinche, and ...",NY
1,0x89c244427d3e2c19:0xc1dbf7d8e71d7201,1.145209e+20,TheNaelabean,5,Yummy!! Please try the guacamole. You won't re...,NY

In [ ]:
# Exportacion de las reviews de NY filtrados por restaurantes latinos
latin_restaurants_ny.to_csv('./Datasets_limpios/Google/reviews_ny.csv', index=False)

##### Filtrado de la data de restaurants

In [ ]:
# Union de los dataframes para iniciar filtrado de los que pertenezcan a NY
latin_restaurants_ny = pd.merge(latin_restaurants, reviews_new_york, on='gmap_id', how='inner')

In [ ]:
# Creacion de columna con el estado al que pertenece
latin_restaurants_ny['state_usa'] = 'NY'

In [ ]:
# Conteo de duplicados en la columna 'gmap_id'
conteo_duplicados = latin_restaurants_ny['gmap_id'].duplicated().sum()
conteo_duplicados

np.int64(116683)

In [ ]:
# Eliminacion de valores repetidos por la columna 'gmap_id'
latin_restaurants_ny_sinduplicados = latin_restaurants_ny.drop_duplicates(subset='gmap_id')

In [73]:
latin_restaurants_ny_sinduplicados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1352 entries, 0 to 117817
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gmap_id           1352 non-null   object
 1   category          1352 non-null   object
 2   name_x            1352 non-null   object
 3   address           1352 non-null   object
 4   description       288 non-null    object
 5   latitude          1352 non-null   float64
 6   longitude         1352 non-null   float64
 7   avg_rating        1352 non-null   float64
 8   num_of_reviews    1352 non-null   int64
 9   price             657 non-null    object
 10  hours             1309 non-null   object
 11  MISC              1348 non-null   object
 12  state             1309 non-null   object
 13  relative_results  1191 non-null   object
 14  url               1352 non-null   object
 15  user_id           1352 non-null   float64
 16  name_y            1352 non-null   object
 17  rating            1352 non-null   int64
 18  text              1352 non-null   object
 19  state_usa         1352 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 221.8+ KB

In [ ]:
# Eliminacion de columnas innecesarias de acuerdo al enfoque
latin_restaurants_ny_sinduplicados.drop(columns=['user_id', 'name_y', 'rating', 'text',], inplace=True)

In [75]:
latin_restaurants_ny_sinduplicados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1352 entries, 0 to 117817
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gmap_id           1352 non-null   object
 1   category          1352 non-null   object
 2   name_x            1352 non-null   object
 3   address           1352 non-null   object
 4   description       288 non-null    object
 5   latitude          1352 non-null   float64
 6   longitude         1352 non-null   float64
 7   avg_rating        1352 non-null   float64
 8   num_of_reviews    1352 non-null   int64
 9   price             657 non-null    object
 10  hours             1309 non-null   object
 11  MISC              1348 non-null   object
 12  state             1309 non-null   object
 13  relative_results  1191 non-null   object
 14  url               1352 non-null   object
 15  state_usa         1352 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 179.6+ KB

In [ ]:
# Renombre de la columna 'name'
latin_restaurants_ny_sinduplicados = latin_restaurants_ny_sinduplicados.rename(columns={'name_x': 'name'})

### ETL Texas (filtrado de la data de reviews y filtrado de la data de restaurants)

##### Filtrado de la data de reviews

In [ ]:
# Carga del dataset de las reviews de texas
reviews_texas = pd.read_parquet('./Datasets/Google_maps/df_texas.parquet')

# Union de todos los restaurantes latinos con las reviews de texas
latin_restaurants_tx = pd.merge(latin_restaurants, reviews_texas, on='gmap_id', how='inner')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_tx.drop(columns=['category', 'name_x', 'address', 'description', 'latitude', 'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC', 'state', 'relative_results', 'url'], inplace=True)

# Creacion de columna con el estado perteneciente
latin_restaurants_tx['state_usa'] = 'TX'

# Renombre la columna 'name'
latin_restaurants_tx = latin_restaurants_tx.rename(columns={'name_y': 'name'})

# Exportacion de las reviews filtradas por restaurantes latinos
latin_restaurants_tx.to_csv('./Datasets_limpios/Google/reviews_tx.csv', index=False)

##### Filtrado de la data de restaurants

In [ ]:
# Union de los dataframes por la columna 'gmap_id'
latin_restaurants_tx = pd.merge(latin_restaurants, reviews_texas, on='gmap_id', how='inner')

# Creacion de columna con el estado perteneciente
latin_restaurants_tx['state_usa'] = 'TX'

# Eliminacion de valores repetidos por la columna 'gmap_id'
latin_restaurants_tx_sinduplicados = latin_restaurants_tx.drop_duplicates(subset='gmap_id')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_tx_sinduplicados.drop(columns=['user_id', 'name_y', 'rating', 'text',], inplace=True)

# Renombre la columna 'name'
latin_restaurants_tx_sinduplicados = latin_restaurants_tx_sinduplicados.rename(columns={'name_x': 'name'})

### ETL Florida (filtrado de la data de reviews y filtrado de la data de restaurants)

##### Filtrado de la data de reviews

In [ ]:
# Carga del dataset de las reviews de Florida
reviews_florida = pd.read_parquet('./Datasets/Google_maps/df_florida.parquet')

# Union de todos los restaurantes latinos con las reviews de Florida
latin_restaurants_fl = pd.merge(latin_restaurants, reviews_florida, on='gmap_id', how='inner')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_fl.drop(columns=['category', 'name_x', 'address', 'description', 'latitude', 'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC', 'state', 'relative_results', 'url'], inplace=True)

# Creacion de columna con el estado perteneciente
latin_restaurants_fl['state_usa'] = 'FL'

# Renombre la columna 'name'
latin_restaurants_fl = latin_restaurants_fl.rename(columns={'name_y': 'name'})

# Exportacion de las reviews filtradas por restaurantes latinos
latin_restaurants_fl.to_csv('./Datasets_limpios/Google/reviews_fl.csv', index=False)

##### Filtrado de la data de restaurants

In [ ]:
# Union de los dataframes por la columna 'gmap_id'
latin_restaurants_fl = pd.merge(latin_restaurants, reviews_florida, on='gmap_id', how='inner')

# Creacion de columna con el estado perteneciente
latin_restaurants_fl['state_usa'] = 'FL'

# Eliminacion de valores repetidos por la columna 'gmap_id'
latin_restaurants_fl_sinduplicados = latin_restaurants_fl.drop_duplicates(subset='gmap_id')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_fl_sinduplicados.drop(columns=['user_id', 'name_y', 'rating', 'text',], inplace=True)

# Renombre la columna 'name'
latin_restaurants_fl_sinduplicados = latin_restaurants_fl_sinduplicados.rename(columns={'name_x': 'name'})

### ETL California (filtrado de la data de reviews y filtrado de la data de restaurants)

##### Filtrado de la data de reviews

In [ ]:
# Carga del dataset de las reviews de California
reviews_california = pd.read_parquet('./Datasets/Google_maps/df_california.parquet')

# Union de todos los restaurantes latinos con las reviews de California
latin_restaurants_ca = pd.merge(latin_restaurants, reviews_california, on='gmap_id', how='inner')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_ca.drop(columns=['category', 'name_x', 'address', 'description', 'latitude', 'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC', 'state', 'relative_results', 'url'], inplace=True)

# Creacion de columna con el estado perteneciente
latin_restaurants_ca['state_usa'] = 'CA'

# Renombre la columna 'name'
latin_restaurants_ca = latin_restaurants_ca.rename(columns={'name_y': 'name'})

# Exportacion de las reviews filtradas por restaurantes latinos
latin_restaurants_ca.to_csv('./Datasets_limpios/Google/reviews_ca.csv', index=False)

##### Filtrado de la data de restaurants

In [ ]:
# Union de los dataframes por la columna 'gmap_id'
latin_restaurants_ca = pd.merge(latin_restaurants, reviews_california, on='gmap_id', how='inner')

# Creacion de columna con el estado perteneciente
latin_restaurants_ca['state_usa'] = 'CA'

# Eliminacion de valores repetidos por la columna 'gmap_id'
latin_restaurants_ca_sinduplicados = latin_restaurants_ca.drop_duplicates(subset='gmap_id')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_ca_sinduplicados.drop(columns=['user_id', 'name_y', 'rating', 'text',], inplace=True)

# Renombre la columna 'name'
latin_restaurants_ca_sinduplicados = latin_restaurants_ca_sinduplicados.rename(columns={'name_x': 'name'})

### ETL Arizona (filtrado de la data de reviews y filtrado de la data de restaurants)

##### Filtrado de la data de reviews

In [ ]:
# Carga del dataset de las reviews de Arizona
reviews_arizona = pd.read_parquet('./Datasets/Google_maps/df_arizona.parquet')

# Union de todos los restaurantes latinos con las reviews de Arizona
latin_restaurants_az = pd.merge(latin_restaurants, reviews_arizona, on='gmap_id', how='inner')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_az.drop(columns=['category', 'name_x', 'address', 'description', 'latitude', 'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC', 'state', 'relative_results', 'url'], inplace=True)

# Creacion de columna con el estado perteneciente
latin_restaurants_az['state_usa'] = 'AZ'

# Renombre la columna 'name'
latin_restaurants_az = latin_restaurants_az.rename(columns={'name_y': 'name'})

# Exportacion de las reviews filtradas por restaurantes latinos
latin_restaurants_az.to_csv('./Datasets_limpios/Google/reviews_az.csv', index=False)

##### Filtrado de la data de restaurants

In [ ]:
# Union de los dataframes por la columna 'gmap_id'
latin_restaurants_az = pd.merge(latin_restaurants, reviews_arizona, on='gmap_id', how='inner')

# Creacion de columna con el estado perteneciente
latin_restaurants_az['state_usa'] = 'AZ'

# Eliminacion de valores repetidos por la columna 'gmap_id'
latin_restaurants_az_sinduplicados = latin_restaurants_az.drop_duplicates(subset='gmap_id')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_az_sinduplicados.drop(columns=['user_id', 'name_y', 'rating', 'text',], inplace=True)

# Renombre la columna 'name'
latin_restaurants_az_sinduplicados = latin_restaurants_az_sinduplicados.rename(columns={'name_x': 'name'})

### ETL Illinois (filtrado de la data de reviews y filtrado de la data de restaurants)

##### Filtrado de la data de reviews

In [ ]:
# Carga del dataset de las reviews de Illinois
reviews_illinois = pd.read_parquet('./Datasets/Google_maps/df_illinois.parquet')

# Union de todos los restaurantes latinos con las reviews de Illinois
latin_restaurants_il = pd.merge(latin_restaurants, reviews_illinois, on='gmap_id', how='inner')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_il.drop(columns=['category', 'name_x', 'address', 'description', 'latitude', 'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC', 'state', 'relative_results', 'url'], inplace=True)

# Creacion de columna con el estado perteneciente
latin_restaurants_il['state_usa'] = 'IL'

# Renombre la columna 'name'
latin_restaurants_il = latin_restaurants_il.rename(columns={'name_y': 'name'})

# Exportacion de las reviews filtradas por restaurantes latinos
latin_restaurants_il.to_csv('./Datasets_limpios/Google/reviews_il.csv', index=False)

##### Filtrado de la data de restaurants

In [ ]:
# Union de los dataframes por la columna 'gmap_id'
latin_restaurants_il = pd.merge(latin_restaurants, reviews_illinois, on='gmap_id', how='inner')

# Creacion de columna con el estado perteneciente
latin_restaurants_il['state_usa'] = 'IL'

# Eliminacion de valores repetidos por la columna 'gmap_id'
latin_restaurants_il_sinduplicados = latin_restaurants_il.drop_duplicates(subset='gmap_id')

# Eliminacion de las columnas innecesarias de acuerdo al enfoque
latin_restaurants_il_sinduplicados.drop(columns=['user_id', 'name_y', 'rating', 'text',], inplace=True)

# Renombre la columna 'name'
latin_restaurants_il_sinduplicados = latin_restaurants_il_sinduplicados.rename(columns={'name_x': 'name'})

### Concatenacion de la data de restaurantes por estado a un solo dataframe

In [93]:
# Concatenando verticalmente (por filas)
latin_restaurants = pd.concat([latin_restaurants_ny_sinduplicados, latin_restaurants_tx_sinduplicados, latin_restaurants_fl_sinduplicados, latin_restaurants_ca_sinduplicados, latin_restaurants_az_sinduplicados, latin_restaurants_il_sinduplicados], ignore_index=True)

In [ ]:
# Visualizacion de las categorias unicas dentro de la columna 'state_usa'
latin_restaurants['state_usa'].unique()

array(['NY', 'TX', 'FL', 'CA', 'AZ', 'IL'], dtype=object)

In [ ]:
# Listado de columnas del dataframe
latin_restaurants.columns

Index(['gmap_id', 'category', 'name', 'address', 'description', 'latitude',
       'longitude', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url', 'state_usa'],
      dtype='object')

In [ ]:
# Exportacion del dataframe
latin_restaurants.to_csv('./Datasets_limpios/Google/latin_restaurants_bystate.csv', index=False)

In [ ]:
# Eliminacion de columnas innecesarias de acuerdo al enfoque
latin_restaurants.drop(columns=['avg_rating', 'num_of_reviews', 'hours', 'state', 'relative_results', 'url'], inplace=True)

In [100]:
latin_restaurants.head(2)

,gmap_id,category,name,address,description,latitude,longitude,price,MISC,state_usa
0,0x89c244427d3e2c19:0xc1dbf7d8e71d7201,Mexican restaurant,Casa Malinche,"Casa Malinche, 3078 Coney Island Ave, Brooklyn...",None,40.581086,-73.960139,None,"{'Accessibility': None, 'Activities': None, 'A...",NY
1,0x89c259063d62f499:0x5b5cab85882fd605,Mexican restaurant,Caliente Cab Co,"Caliente Cab Co, 488 3rd Ave, New York, NY 10016",Potent drinks & a spacious patio are the main ...,40.745304,-73.978768,$$,"{'Accessibility': None, 'Activities': None, 'A...",NY

In [ ]:
# Informacion del dataframe
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5934 entries, 0 to 5933
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gmap_id      5934 non-null   object
 1   category     5934 non-null   object
 2   name         5934 non-null   object
 3   address      5929 non-null   object
 4   description  1271 non-null   object
 5   latitude     5934 non-null   float64
 6   longitude    5934 non-null   float64
 7   price        2506 non-null   object
 8   MISC         5922 non-null   object
 9   state_usa    5934 non-null   object
dtypes: float64(2), object(8)
memory usage: 463.7+ KB

In [ ]:
# Renombre de la columna ID enfocado al diagrama de entidad relacion
latin_restaurants = latin_restaurants.rename(columns={'gmap_id': 'restaurant_id', 'name': 'restaurant_name', 'MISC': 'misc', 'state_usa': 'state'})

In [104]:
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5934 entries, 0 to 5933
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_id    5934 non-null   object
 1   category         5934 non-null   object
 2   restaurant_name  5934 non-null   object
 3   address          5929 non-null   object
 4   description      1271 non-null   object
 5   latitude         5934 non-null   float64
 6   longitude        5934 non-null   float64
 7   price            2506 non-null   object
 8   misc             5922 non-null   object
 9   state            5934 non-null   object
dtypes: float64(2), object(8)
memory usage: 463.7+ KB

### Normalizacion de la columna 'category'

In [ ]:
# Listado de categorias unicas dentro del dataframe
latin_restaurants['category'].unique()

array(['Mexican restaurant', 'Ecuadorian restaurant',
       'Caribbean restaurant', 'Salvadoran restaurant',
       'Latin American restaurant', 'Burrito restaurant',
       'Taco restaurant', 'Colombian restaurant', 'Dominican restaurant',
       'Peruvian restaurant', 'Brazilian restaurant', 'Cuban restaurant',
       'Guatemalan restaurant', 'Puerto Rican restaurant',
       'Venezuelan restaurant', 'Argentinian restaurant',
       'Honduran restaurant', 'Chilean restaurant',
       'Paraguayan restaurant', 'Nuevo Latino restaurant',
       'Pan-Latin restaurant', 'South American restaurant',
       'Nicaraguan restaurant', 'Mexican torta restaurant',
       'Oaxacan restaurant'], dtype=object)

In [ ]:
# Reemplazo de categorias por una mas global
latin_restaurants['category'] = latin_restaurants['category'].replace('Burrito restaurant', 'Mexican restaurant')
latin_restaurants['category'] = latin_restaurants['category'].replace('Taco restaurant', 'Mexican restaurant')
latin_restaurants['category'] = latin_restaurants['category'].replace('Oaxacan restaurant', 'Mexican restaurant')

In [107]:
latin_restaurants['category'].unique()

array(['Mexican restaurant', 'Ecuadorian restaurant',
       'Caribbean restaurant', 'Salvadoran restaurant',
       'Latin American restaurant', 'Colombian restaurant',
       'Dominican restaurant', 'Peruvian restaurant',
       'Brazilian restaurant', 'Cuban restaurant',
       'Guatemalan restaurant', 'Puerto Rican restaurant',
       'Venezuelan restaurant', 'Argentinian restaurant',
       'Honduran restaurant', 'Chilean restaurant',
       'Paraguayan restaurant', 'Nuevo Latino restaurant',
       'Pan-Latin restaurant', 'South American restaurant',
       'Nicaraguan restaurant', 'Mexican torta restaurant'], dtype=object)

In [ ]:
# Reemplazo de categorias por una mas global
latin_restaurants['category'] = latin_restaurants['category'].replace('Nuevo Latino restaurant', 'South American restaurant')
latin_restaurants['category'] = latin_restaurants['category'].replace('Mexican torta restaurant', 'Mexican American restaurant')

In [109]:
latin_restaurants['category'].unique()

array(['Mexican restaurant', 'Ecuadorian restaurant',
       'Caribbean restaurant', 'Salvadoran restaurant',
       'Latin American restaurant', 'Colombian restaurant',
       'Dominican restaurant', 'Peruvian restaurant',
       'Brazilian restaurant', 'Cuban restaurant',
       'Guatemalan restaurant', 'Puerto Rican restaurant',
       'Venezuelan restaurant', 'Argentinian restaurant',
       'Honduran restaurant', 'Chilean restaurant',
       'Paraguayan restaurant', 'South American restaurant',
       'Pan-Latin restaurant', 'Nicaraguan restaurant',
       'Mexican American restaurant'], dtype=object)

In [ ]:
# Reemplazo de categorias por una mas global
latin_restaurants['category'] = latin_restaurants['category'].replace('Pan-Latin restaurant', 'South American restaurant')
latin_restaurants['category'] = latin_restaurants['category'].replace('Mexican American restaurant', 'Mexican restaurant')

In [111]:
latin_restaurants['category'].unique()

array(['Mexican restaurant', 'Ecuadorian restaurant',
       'Caribbean restaurant', 'Salvadoran restaurant',
       'Latin American restaurant', 'Colombian restaurant',
       'Dominican restaurant', 'Peruvian restaurant',
       'Brazilian restaurant', 'Cuban restaurant',
       'Guatemalan restaurant', 'Puerto Rican restaurant',
       'Venezuelan restaurant', 'Argentinian restaurant',
       'Honduran restaurant', 'Chilean restaurant',
       'Paraguayan restaurant', 'South American restaurant',
       'Nicaraguan restaurant'], dtype=object)

In [ ]:
# Categorias unicas
data = ['Mexican restaurant', 'Ecuadorian restaurant',
        'Caribbean restaurant', 'Salvadoran restaurant',
        'Latin American restaurant', 'Colombian restaurant',
        'Dominican restaurant', 'Peruvian restaurant',
        'Brazilian restaurant', 'Cuban restaurant',
        'Guatemalan restaurant', 'Puerto Rican restaurant',
        'Venezuelan restaurant', 'Argentinian restaurant',
        'Honduran restaurant', 'Chilean restaurant',
        'Paraguayan restaurant', 'South American restaurant',
        'Nicaraguan restaurant']

# Creacion del dataframe
categories = pd.DataFrame({'subcategory_name': data})

# Definicion de una funcion que normaliza las categorias a una mas amplia
def normalize_category(category):
    if category in ['Mexican restaurant', 'Puerto Rican restaurant']:
        return 'Norte America'
    elif category in [ 'Dominican restaurant', 'Cuban restaurant', 'Caribbean restaurant']:
        return 'Caribe'
    elif category in ['South American restaurant', 'Latin American restaurant', 'Honduran restaurant', 'Nicaraguan restaurant', 'Salvadoran restaurant', 'Guatemalan restaurant',  'Brazilian restaurant', 'Argentinian restaurant', 'Chilean restaurant', 'Peruvian restaurant', 'Colombian restaurant', 'Ecuadorian restaurant', 'Paraguayan restaurant', 'Venezuelan restaurant']:
        return 'Latino America'

# Aplicacion de la funcion a la columna 'subcategory_name' que contiene las categorias unicas
categories['category_name'] = categories['subcategory_name'].apply(normalize_category)

# Definicion de una funcion que crea el ID para esa normalizacion
def normalize_category(category):
    if category in ['Norte America']:
        return 1
    elif category in ['Caribe']:
        return 2
    elif category in ['Latino America']:
        return 3
    
# Aplicacion de la funcion en basado en la normalizacion
categories['category_id'] = categories['category_name'].apply(normalize_category)

In [ ]:
# Agregacion de un id para las categorias unicas
categories['subcategory_id'] = categories['subcategory_name'].astype('category').cat.codes + 1

In [ ]:
# Dataframe de categorias
categories

             subcategory_name   category_name  category_id  subcategory_id
0          Mexican restaurant   Norte America            1              12
1       Ecuadorian restaurant  Latino America            3               8
2        Caribbean restaurant          Caribe            2               3
3       Salvadoran restaurant  Latino America            3              17
4   Latin American restaurant  Latino America            3              11
5        Colombian restaurant  Latino America            3               5
6        Dominican restaurant          Caribe            2               7
7         Peruvian restaurant  Latino America            3              15
8        Brazilian restaurant  Latino America            3               2
9            Cuban restaurant          Caribe            2               6
10      Guatemalan restaurant  Latino America            3               9
11    Puerto Rican restaurant   Norte America            1              16
12      Venezuelan restaurant  Latino America            3              19
13     Argentinian restaurant  Latino America            3               1
14        Honduran restaurant  Latino America            3              10
15         Chilean restaurant  Latino America            3               4
16      Paraguayan restaurant  Latino America            3              14
17  South American restaurant  Latino America            3              18
18      Nicaraguan restaurant  Latino America            3              13

In [ ]:
# Reordenacion de las columnas
nuevo_orden = [ 'category_id', 'category_name', 'subcategory_id', 'subcategory_name']
categories = categories.reindex(columns=nuevo_orden)

In [ ]:
# Previzualizacion del nuevo orden del dataframe
categories.head()

   category_id   category_name  subcategory_id           subcategory_name
0            1   Norte America              12         Mexican restaurant
1            3  Latino America               8      Ecuadorian restaurant
2            2          Caribe               3       Caribbean restaurant
3            3  Latino America              17      Salvadoran restaurant
4            3  Latino America              11  Latin American restaurant

In [ ]:
# Exportacion del dataframe
categories.to_csv('./Datasets_limpios/categories.csv', index=False)

### Creando relaciones entre Categorias y Restaurantes

In [184]:
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5934 entries, 0 to 5933
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_id    5934 non-null   object
 1   category_name    5934 non-null   object
 2   restaurant_name  5934 non-null   object
 3   address          5929 non-null   object
 4   description      1271 non-null   object
 5   latitude         5934 non-null   float64
 6   longitude        5934 non-null   float64
 7   price            2506 non-null   object
 8   misc             5922 non-null   object
 9   state            5934 non-null   object
dtypes: float64(2), object(8)
memory usage: 463.7+ KB

In [ ]:
# Carga del dataset de categorias
categories = pd.read_csv('./Datasets_limpios/categories.csv')

In [186]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category_id       19 non-null     int64
 1   category_name     19 non-null     object
 2   subcategory_id    19 non-null     int64
 3   subcategory_name  19 non-null     object
dtypes: int64(2), object(2)
memory usage: 736.0+ bytes

In [ ]:
# Renombre de la columna para poder unirlas
latin_restaurants = latin_restaurants.rename(columns={'category_name': 'subcategory_name'})

In [188]:
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5934 entries, 0 to 5933
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   restaurant_id     5934 non-null   object
 1   subcategory_name  5934 non-null   object
 2   restaurant_name   5934 non-null   object
 3   address           5929 non-null   object
 4   description       1271 non-null   object
 5   latitude          5934 non-null   float64
 6   longitude         5934 non-null   float64
 7   price             2506 non-null   object
 8   misc              5922 non-null   object
 9   state             5934 non-null   object
dtypes: float64(2), object(8)
memory usage: 463.7+ KB

In [ ]:
# Union de ambos dataframes por la columna 'subcategory'
latin_restaurants_merged = pd.merge(latin_restaurants, categories, on='subcategory_name', how='inner')

In [190]:
latin_restaurants_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5934 entries, 0 to 5933
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   restaurant_id     5934 non-null   object
 1   subcategory_name  5934 non-null   object
 2   restaurant_name   5934 non-null   object
 3   address           5929 non-null   object
 4   description       1271 non-null   object
 5   latitude          5934 non-null   float64
 6   longitude         5934 non-null   float64
 7   price             2506 non-null   object
 8   misc              5922 non-null   object
 9   state             5934 non-null   object
 10  category_id       5934 non-null   int64
 11  category_name     5934 non-null   object
 12  subcategory_id    5934 non-null   int64
dtypes: float64(2), int64(2), object(9)
memory usage: 602.8+ KB

In [ ]:
# Eliminacion de categorias de acuerdo al diagrame de entidad-relacion
latin_restaurants_merged.drop(columns=['category_name','subcategory_name'], inplace=True)

In [192]:
latin_restaurants_merged.head(2)

,restaurant_id,restaurant_name,address,description,latitude,longitude,price,misc,state,category_id,subcategory_id
0,0x89c244427d3e2c19:0xc1dbf7d8e71d7201,Casa Malinche,"Casa Malinche, 3078 Coney Island Ave, Brooklyn...",None,40.581086,-73.960139,None,"{'Accessibility': None, 'Activities': None, 'A...",NY,1,12
1,0x89c259063d62f499:0x5b5cab85882fd605,Caliente Cab Co,"Caliente Cab Co, 488 3rd Ave, New York, NY 10016",Potent drinks & a spacious patio are the main ...,40.745304,-73.978768,$$,"{'Accessibility': None, 'Activities': None, 'A...",NY,1,12

In [ ]:
# Renombre de la columna
latin_restaurants_merged = latin_restaurants_merged.rename(columns={'state_name':'abbreviation'})

### Creando relaciones entre Estados y Restaurantes

In [ ]:
# Carga del dataset de states
states = pd.read_csv('./Datasets_limpios/states.csv')

In [197]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state_id          558 non-null    int64
 1   state_name        558 non-null    object
 2   abbreviation      558 non-null    object
 3   county_name       558 non-null    object
 4   total_population  558 non-null    int64
 5   avg_income        558 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 26.3+ KB

In [ ]:
# Union entre ambos dataframes
latin_restaurants = pd.merge(latin_restaurants_merged, states, on='abbreviation', how='inner')

In [201]:
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615295 entries, 0 to 615294
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   restaurant_id     615295 non-null  object
 1   restaurant_name   615295 non-null  object
 2   address           614364 non-null  object
 3   description       116998 non-null  object
 4   latitude          615295 non-null  float64
 5   longitude         615295 non-null  float64
 6   price             233516 non-null  object
 7   misc              613842 non-null  object
 8   abbreviation      615295 non-null  object
 9   category_id       615295 non-null  int64
 10  subcategory_id    615295 non-null  int64
 11  state_id          615295 non-null  int64
 12  state_name        615295 non-null  object
 13  county_name       615295 non-null  object
 14  total_population  615295 non-null  int64
 15  avg_income        615295 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 75.1+ MB

In [ ]:
# Eliminacion de columnas de acuerdo al diagrama de entidad-relacion
latin_restaurants.drop(columns=['abbreviation', 'state_name','county_name', 'total_population', 'avg_income'], inplace= True)

In [ ]:
# Eliminacion de duplicados por el id del restaurant
latin_restaurants = latin_restaurants.drop_duplicates(subset='restaurant_id')

In [206]:
latin_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5934 entries, 0 to 615193
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_id    5934 non-null   object
 1   restaurant_name  5934 non-null   object
 2   address          5929 non-null   object
 3   description      1271 non-null   object
 4   latitude         5934 non-null   float64
 5   longitude        5934 non-null   float64
 6   price            2506 non-null   object
 7   misc             5922 non-null   object
 8   category_id      5934 non-null   int64
 9   subcategory_id   5934 non-null   int64
 10  state_id         5934 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 556.3+ KB

In [ ]:
# Exportacion del archivo
latin_restaurants.to_csv('./Datasets_limpios/latin_restaurants.csv', index=False)