In [2]:
import pandas as pd
import numpy as np
import json # Para trabajar con JSON
from pandas import json_normalize
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
import seaborn as sns
#import nltk
#from wordcloud import WordCloud
#from textblob import TextBlob
#from nltk.corpus import stopwords
#from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Descargar los stopwords en español e inglés
#nltk.download('stopwords')
#stop_words = set(stopwords.words('english') + stopwords.words('spanish'))

import warnings
warnings.filterwarnings("ignore")

Extraemos y transformamos los df de los estados seleccionados para el trabajo: Florida, California, New York, Texas, Ilinois y Arizona.

In [3]:
df_florida_1 = pd.read_json("C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/1.json", lines=True)

In [4]:
df_florida_1.describe()

            user_id          time         rating
count  1.500000e+05  1.500000e+05  150000.000000
mean   1.095940e+20  1.557095e+12       4.334360
std    5.151720e+18  4.997719e+10       1.280953
min    1.000002e+20  1.052611e+12       1.000000
25%    1.054386e+20  1.524675e+12       4.000000
50%    1.095449e+20  1.561863e+12       5.000000
75%    1.139628e+20  1.598543e+12       5.000000
max    1.184467e+20  1.631205e+12       5.000000

In [5]:
df_florida_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     100023 non-null  object
 5   pics     4577 non-null    object
 6   resp     31967 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB

In [6]:
df_florida_1.head()

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,None,"{'time': 1627042799532, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
1,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,None,"{'time': 1582464056733, 'text': 'Thank you for...",0x8893863ea87bd5dd:0x9383ebf973e74abb
2,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
3,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb
4,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,None,None,0x8893863ea87bd5dd:0x9383ebf973e74abb

El df muestra usuarios con su nombre, id y el rating (int 1 a 5) que ha dado a locales, mas una reseña en texto, seguido de una foto y la respuesta del negocio, por ultimo el id de google map.

In [7]:
display(df_florida_1.isnull().sum())

user_id         0
name            0
time            0
rating          0
text        49977
pics       145423
resp       118033
gmap_id         0
dtype: int64

Luego de una primer analisis observamos que hay muchos nulos en las columnas text, pics y resp. Tambien entendemos que, para cumplir con los requisitos del cliente y entrenar el modelo del sistema de recomendacion las columnas time, pics y resp no son necesarias. Por consiguiente primero se eliminaran las columnas pics y resp y se volveran a analizar los valores nulos

In [8]:
# eliminar columnas 'pics' y 'resp'
df_florida_1 = df_florida_1.drop(columns=['time','pics','resp'])

In [9]:
df_florida_1.columns

Index(['user_id', 'name', 'rating', 'text', 'gmap_id'], dtype='object')

In [10]:
# Conteo de valores nulos en cada columna
print("Valores nulos en cada columna:")
display(df_florida_1.isnull().sum())

Valores nulos en cada columna:

user_id        0
name           0
rating         0
text       49977
gmap_id        0
dtype: int64

Los valores nulos representan reseñas valordas con estrellas, pero no asi con texto. Como los comenarios escritos son utiles para entrenar el modelo del sistema de recomendacion y las estrellas tambien, no se eliminaran los valores nulos en la columna 'text', se los reemplazara con la leyenda "sin comentario"

In [11]:
# Reemplazar los valores nulos en la columna 'text'  
df_florida_1['text'] = df_florida_1['text'].fillna('sin comentario')

Entendiendo que los archivos dentro de la carpeta pertenecen al mismo estado de Arizona, se podria decir que son el mismo df de lestado dividido en 14 partes.

---

Por otro lado y luego de un analisis rapido encontramos que los siguientes data sets comparten las mismas caracteristicas por lo que se desarrolla una funsion para que haga la transformacion de forma automatica.

ETL Reviews-Florida

In [3]:
import os  

# Definir la función para procesar cada archivo JSON  
def procesar_json(archivo):  
    # Leer el archivo JSON  
    df = pd.read_json(archivo, lines=True)  
    
    # Mostrar información y estadísticas del DataFrame  
    print(f"Procesando: {archivo}")  
    print(df.info())  
    print("Valores nulos en cada columna:")  
    print(df.isnull().sum())  
    
    # Eliminar columnas 'time', 'pics' y 'resp'  
    df = df.drop(columns=['time', 'pics', 'resp'], errors='ignore')  # errors='ignore' para evitar errores si no existen  
    
    # Reemplazar los valores nulos en la columna 'text'  
    df['text'] = df['text'].fillna('sin comentario')  
    
    return df  

# Ruta de la carpeta que contiene los archivos JSON  
ruta_carpeta = "C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/"  

# Crear una lista para almacenar los DataFrames  
lista_dfs = []  

# Iterar sobre los archivos en la carpeta  
for archivo in os.listdir(ruta_carpeta):  
    if archivo.endswith('.json'):  
        ruta_archivo = os.path.join(ruta_carpeta, archivo)  
        df_procesado = procesar_json(ruta_archivo)  
        lista_dfs.append(df_procesado)  

# Concatenar todos los DataFrames en uno solo  
df_Florida = pd.concat(lista_dfs, ignore_index=True)  

# Mostrar el DataFrame final  
print(df_Florida.head())

Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/1.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     100023 non-null  object
 5   pics     4577 non-null    object
 6   resp     31967 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        49977
pics       145423
resp       118033
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/10.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     90329 non-null   object
 5   pics     4419 non-null    object
 6   resp     20576 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        59671
pics       145581
resp       129424
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/11.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     88114 non-null   object
 5   pics     5001 non-null    object
 6   resp     19871 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        61886
pics       144999
resp       130129
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/12.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91389 non-null   object
 5   pics     4814 non-null    object
 6   resp     21200 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58611
pics       145186
resp       128800
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/13.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     88679 non-null   object
 5   pics     4958 non-null    object
 6   resp     14463 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        61321
pics       145042
resp       135537
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/14.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86599 non-null   object
 5   pics     5690 non-null    object
 6   resp     19883 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63401
pics       144310
resp       130117
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/15.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91412 non-null   object
 5   pics     6724 non-null    object
 6   resp     24290 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58588
pics       143276
resp       125710
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/16.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91786 non-null   object
 5   pics     5586 non-null    object
 6   resp     17729 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58214
pics       144414
resp       132271
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/17.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     88139 non-null   object
 5   pics     5082 non-null    object
 6   resp     14958 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        61861
pics       144918
resp       135042
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/18.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     94117 non-null   object
 5   pics     7735 non-null    object
 6   resp     17179 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        55883
pics       142265
resp       132821
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/19.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     96627 non-null   object
 5   pics     10179 non-null   object
 6   resp     19800 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        53373
pics       139821
resp       130200
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/2.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     97352 non-null   object
 5   pics     4747 non-null    object
 6   resp     32916 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        52648
pics       145253
resp       117084
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/3.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     96861 non-null   object
 5   pics     5007 non-null    object
 6   resp     32139 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        53139
pics       144993
resp       117861
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/4.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     96095 non-null   object
 5   pics     4811 non-null    object
 6   resp     30421 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        53905
pics       145189
resp       119579
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/5.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     97486 non-null   object
 5   pics     4906 non-null    object
 6   resp     30778 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        52514
pics       145094
resp       119222
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/6.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     97866 non-null   object
 5   pics     4874 non-null    object
 6   resp     30654 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        52134
pics       145126
resp       119346
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/7.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     94184 non-null   object
 5   pics     4805 non-null    object
 6   resp     24382 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        55816
pics       145195
resp       125618
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/8.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     92809 non-null   object
 5   pics     5344 non-null    object
 6   resp     27901 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        57191
pics       144656
resp       122099
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/9.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     90623 non-null   object
 5   pics     4931 non-null    object
 6   resp     24292 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        59377
pics       145069
resp       125708
gmap_id         0
dtype: int64
        user_id              name  rating  \
0  1.014719e+20   Julie A. Gerber       1
1  1.154772e+20  Martin Sheffield       5
2  1.018050e+20      Brian Truett       5
3  1.063444e+20          Tina Sun       1
4  1.008751e+20      James Haynes       5

                                                text  \
0  Update: Their “reply” to my review amounted to...
1  He's a knowledgeable doctor but the way he run...
2  Best doctor I've ever had, I never wait to be ...
3  I was told he is a good doctor. I was trying t...
4  Takes the time to actually get to know his pat...

                                 gmap_id
0  0x8893863ea87bd5dd:0x9383ebf973e74abb
1  0x8893863ea87bd5dd:0x9383ebf973e74abb
2  0x8893863ea87bd5dd:0x9383ebf973e74abb
3  0x8893863ea87bd5dd:0x9383ebf973e74abb
4  0x8893863ea87bd5dd:0x9383ebf973e74abb

In [4]:
df_Florida.to_parquet('C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Florida/df_Florida.parquet')

---

ETL Reviews-California

In [5]:
import os  

# Definir la función para procesar cada archivo JSON  
def procesar_json(archivo):  
    # Leer el archivo JSON  
    df = pd.read_json(archivo, lines=True)  
    
    # Mostrar información y estadísticas del DataFrame  
    print(f"Procesando: {archivo}")  
    print(df.info())  
    print("Valores nulos en cada columna:")  
    print(df.isnull().sum())  
    
    # Eliminar columnas 'time', 'pics' y 'resp'  
    df = df.drop(columns=['time', 'pics', 'resp'], errors='ignore')  # errors='ignore' para evitar errores si no existen  
    
    # Reemplazar los valores nulos en la columna 'text'  
    df['text'] = df['text'].fillna('sin comentario')  
    
    return df  

# Ruta de la carpeta que contiene los archivos JSON  
ruta_carpeta = "C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/"  

# Crear una lista para almacenar los DataFrames  
lista_dfs = []  

# Iterar sobre los archivos en la carpeta  
for archivo in os.listdir(ruta_carpeta):  
    if archivo.endswith('.json'):  
        ruta_archivo = os.path.join(ruta_carpeta, archivo)  
        df_procesado = procesar_json(ruta_archivo)  
        lista_dfs.append(df_procesado)  

# Concatenar todos los DataFrames en uno solo  
df_California = pd.concat(lista_dfs, ignore_index=True)  

# Mostrar el DataFrame final  
print(df_California.head())

Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/1.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     89135 non-null   object
 5   pics     5632 non-null    object
 6   resp     16935 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        60865
pics       144368
resp       133065
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/10.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     84500 non-null   object
 5   pics     5068 non-null    object
 6   resp     13818 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        65500
pics       144932
resp       136182
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/11.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82744 non-null   object
 5   pics     5165 non-null    object
 6   resp     11612 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67256
pics       144835
resp       138388
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/12.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     83592 non-null   object
 5   pics     5143 non-null    object
 6   resp     9593 non-null    object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        66408
pics       144857
resp       140407
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/13.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82686 non-null   object
 5   pics     5390 non-null    object
 6   resp     12661 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67314
pics       144610
resp       137339
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/14.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82224 non-null   object
 5   pics     5897 non-null    object
 6   resp     11139 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67776
pics       144103
resp       138861
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/15.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82934 non-null   object
 5   pics     5455 non-null    object
 6   resp     12264 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67066
pics       144545
resp       137736
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/16.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     80092 non-null   object
 5   pics     4234 non-null    object
 6   resp     10571 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        69908
pics       145766
resp       139429
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/17.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     81537 non-null   object
 5   pics     6117 non-null    object
 6   resp     11266 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        68463
pics       143883
resp       138734
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/18.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     79749 non-null   object
 5   pics     6409 non-null    object
 6   resp     7445 non-null    object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        70251
pics       143591
resp       142555
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/2.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87784 non-null   object
 5   pics     5500 non-null    object
 6   resp     17321 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62216
pics       144500
resp       132679
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/3.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87153 non-null   object
 5   pics     5533 non-null    object
 6   resp     16741 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62847
pics       144467
resp       133259
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/4.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87048 non-null   object
 5   pics     5500 non-null    object
 6   resp     15903 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62952
pics       144500
resp       134097
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/5.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87291 non-null   object
 5   pics     5840 non-null    object
 6   resp     16848 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62709
pics       144160
resp       133152
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/6.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87082 non-null   object
 5   pics     5440 non-null    object
 6   resp     15062 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62918
pics       144560
resp       134938
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/7.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     88985 non-null   object
 5   pics     5874 non-null    object
 6   resp     16325 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        61015
pics       144126
resp       133675
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/8.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     89267 non-null   object
 5   pics     5848 non-null    object
 6   resp     15710 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        60733
pics       144152
resp       134290
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/9.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85233 non-null   object
 5   pics     5245 non-null    object
 6   resp     13955 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64767
pics       144755
resp       136045
gmap_id         0
dtype: int64
        user_id           name  rating  \
0  1.089912e+20        Song Ro       5
1  1.112903e+20    Rafa Robles       5
2  1.126404e+20      David Han       4
3  1.174403e+20    Anthony Kim       5
4  1.005808e+20  Mario Marzouk       5

                                               text  \
0                      Love there korean rice cake.
1                                    Good very good
2  They make Korean traditional food very properly.
3                    Short ribs are very delicious.
4      Great food and prices the portions are large

                                 gmap_id
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49
1  0x80c2c778e3b73d33:0xbdc58662a4a97d49
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49
3  0x80c2c778e3b73d33:0xbdc58662a4a97d49
4  0x80c2c778e3b73d33:0xbdc58662a4a97d49

In [6]:
df_California.to_parquet('C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-California/df_California.parquet')

---

ETL Reviews-New_York

In [18]:
import os  

# Definir la función para procesar cada archivo JSON  
def procesar_json(archivo):  
    # Leer el archivo JSON  
    df = pd.read_json(archivo, lines=True)  
    
    # Mostrar información y estadísticas del DataFrame  
    print(f"Procesando: {archivo}")  
    print(df.info())  
    print("Valores nulos en cada columna:")  
    print(df.isnull().sum())  
    
    # Eliminar columnas 'time', 'pics' y 'resp'  
    df = df.drop(columns=['time', 'pics', 'resp'], errors='ignore')  # errors='ignore' para evitar errores si no existen  
    
    # Reemplazar los valores nulos en la columna 'text'  
    df['text'] = df['text'].fillna('sin comentario')  
    
    return df  

# Ruta de la carpeta que contiene los archivos JSON  
ruta_carpeta = "C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/"  

# Crear una lista para almacenar los DataFrames  
lista_dfs = []  

# Iterar sobre los archivos en la carpeta  
for archivo in os.listdir(ruta_carpeta):  
    if archivo.endswith('.json'):  
        ruta_archivo = os.path.join(ruta_carpeta, archivo)  
        df_procesado = procesar_json(ruta_archivo)  
        lista_dfs.append(df_procesado)  

# Concatenar todos los DataFrames en uno solo  
df_New_York = pd.concat(lista_dfs, ignore_index=True)  

# Mostrar el DataFrame final  
print(df_New_York.head())

Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/1.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87324 non-null   object
 5   pics     4596 non-null    object
 6   resp     16838 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62676
pics       145404
resp       133162
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/10.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     81769 non-null   object
 5   pics     6003 non-null    object
 6   resp     9725 non-null    object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        68231
pics       143997
resp       140275
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/11.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     93452 non-null   object
 5   pics     11781 non-null   object
 6   resp     14493 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        56548
pics       138219
resp       135507
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/12.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87845 non-null   object
 5   pics     5317 non-null    object
 6   resp     16026 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62155
pics       144683
resp       133974
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/13.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87207 non-null   object
 5   pics     5373 non-null    object
 6   resp     15495 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62793
pics       144627
resp       134505
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/14.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86210 non-null   object
 5   pics     5276 non-null    object
 6   resp     14264 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63790
pics       144724
resp       135736
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/15.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87514 non-null   object
 5   pics     5593 non-null    object
 6   resp     15253 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62486
pics       144407
resp       134747
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/16.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86861 non-null   object
 5   pics     5537 non-null    object
 6   resp     15514 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63139
pics       144463
resp       134486
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/17.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     83491 non-null   object
 5   pics     5137 non-null    object
 6   resp     15005 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        66509
pics       144863
resp       134995
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/18.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82586 non-null   object
 5   pics     5206 non-null    object
 6   resp     15194 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67414
pics       144794
resp       134806
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/2.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85805 non-null   object
 5   pics     4790 non-null    object
 6   resp     17440 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64195
pics       145210
resp       132560
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/3.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85318 non-null   object
 5   pics     4909 non-null    object
 6   resp     17494 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64682
pics       145091
resp       132506
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/4.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86762 non-null   object
 5   pics     5000 non-null    object
 6   resp     16328 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63238
pics       145000
resp       133672
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/5.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86203 non-null   object
 5   pics     5503 non-null    object
 6   resp     14271 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63797
pics       144497
resp       135729
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/6.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     83919 non-null   object
 5   pics     5043 non-null    object
 6   resp     14193 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        66081
pics       144957
resp       135807
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/7.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82188 non-null   object
 5   pics     5720 non-null    object
 6   resp     12233 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67812
pics       144280
resp       137767
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/8.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82119 non-null   object
 5   pics     5229 non-null    object
 6   resp     13049 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67881
pics       144771
resp       136951
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/9.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     79834 non-null   object
 5   pics     5643 non-null    object
 6   resp     11182 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        70166
pics       144357
resp       138818
gmap_id         0
dtype: int64
        user_id             name  rating  \
0  1.137221e+20   Alvin Martinez       5
1  1.072934e+20  Johnnie Jackson       1
2  1.003786e+20     Manie Blazer       5
3  1.149982e+20   Fashion Fiinds       5
4  1.171782e+20   Andres Rieloff       1

                                                text  \
0  I'm late to posting this but this store especi...
1  Very dissatisfied I did not get my phone the p...
2  Excellent very well done with professional car...
3  Basing my review strictly on the service I rec...
4  Bad! Disorganized. I'm being totally honest. I...

                               gmap_id
0  0x89c25fc9494dce47:0x6d63c807b59a55
1  0x89c25fc9494dce47:0x6d63c807b59a55
2  0x89c25fc9494dce47:0x6d63c807b59a55
3  0x89c25fc9494dce47:0x6d63c807b59a55
4  0x89c25fc9494dce47:0x6d63c807b59a55

In [19]:
df_New_York.to_parquet('C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-New_York/df_New_York.parquet')

---

ETL Reviews-Texas

In [20]:
import os  

# Definir la función para procesar cada archivo JSON  
def procesar_json(archivo):  
    # Leer el archivo JSON  
    df = pd.read_json(archivo, lines=True)  
    
    # Mostrar información y estadísticas del DataFrame  
    print(f"Procesando: {archivo}")  
    print(df.info())  
    print("Valores nulos en cada columna:")  
    print(df.isnull().sum())  
    
    # Eliminar columnas 'time', 'pics' y 'resp'  
    df = df.drop(columns=['time', 'pics', 'resp'], errors='ignore')  # errors='ignore' para evitar errores si no existen  
    
    # Reemplazar los valores nulos en la columna 'text'  
    df['text'] = df['text'].fillna('sin comentario')  
    
    return df  

# Ruta de la carpeta que contiene los archivos JSON  
ruta_carpeta = "C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/"  

# Crear una lista para almacenar los DataFrames  
lista_dfs = []  

# Iterar sobre los archivos en la carpeta  
for archivo in os.listdir(ruta_carpeta):  
    if archivo.endswith('.json'):  
        ruta_archivo = os.path.join(ruta_carpeta, archivo)  
        df_procesado = procesar_json(ruta_archivo)  
        lista_dfs.append(df_procesado)  

# Concatenar todos los DataFrames en uno solo  
df_Texas = pd.concat(lista_dfs, ignore_index=True)  

# Mostrar el DataFrame final  
print(df_Texas.head())

Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/1.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     95777 non-null   object
 5   pics     4631 non-null    object
 6   resp     28224 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        54223
pics       145369
resp       121776
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/10.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87942 non-null   object
 5   pics     4213 non-null    object
 6   resp     23763 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62058
pics       145787
resp       126237
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/11.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     88255 non-null   object
 5   pics     4637 non-null    object
 6   resp     22406 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        61745
pics       145363
resp       127594
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/12.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82942 non-null   object
 5   pics     4268 non-null    object
 6   resp     17731 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67058
pics       145732
resp       132269
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/13.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85660 non-null   object
 5   pics     4388 non-null    object
 6   resp     21051 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64340
pics       145612
resp       128949
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/14.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86605 non-null   object
 5   pics     3821 non-null    object
 6   resp     22902 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63395
pics       146179
resp       127098
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/15.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85029 non-null   object
 5   pics     4312 non-null    object
 6   resp     19664 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64971
pics       145688
resp       130336
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/16.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46824 entries, 0 to 46823
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  46824 non-null  float64
 1   name     46824 non-null  object
 2   time     46824 non-null  int64
 3   rating   46824 non-null  int64
 4   text     24219 non-null  object
 5   pics     1912 non-null   object
 6   resp     3831 non-null   object
 7   gmap_id  46824 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.9+ MB
None
Valores nulos en cada columna:
user_id        0
name           0
time           0
rating         0
text       22605
pics       44912
resp       42993
gmap_id        0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/2.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     93624 non-null   object
 5   pics     4421 non-null    object
 6   resp     29415 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        56376
pics       145579
resp       120585
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/3.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     92982 non-null   object
 5   pics     4449 non-null    object
 6   resp     28995 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        57018
pics       145551
resp       121005
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/4.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     92398 non-null   object
 5   pics     4306 non-null    object
 6   resp     27435 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        57602
pics       145694
resp       122565
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/5.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     92745 non-null   object
 5   pics     4491 non-null    object
 6   resp     27452 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        57255
pics       145509
resp       122548
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/6.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91311 non-null   object
 5   pics     4362 non-null    object
 6   resp     25150 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58689
pics       145638
resp       124850
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/7.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     93872 non-null   object
 5   pics     4486 non-null    object
 6   resp     26905 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        56128
pics       145514
resp       123095
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/8.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     93444 non-null   object
 5   pics     4689 non-null    object
 6   resp     26256 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        56556
pics       145311
resp       123744
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/9.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     90810 non-null   object
 5   pics     4923 non-null    object
 6   resp     23658 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        59190
pics       145077
resp       126342
gmap_id         0
dtype: int64
        user_id              name  rating  \
0  1.105453e+20    Kimberly Feger       5
1  1.036198e+20     Briana Streit       2
2  1.019167e+20   Sylvia Caudillo       1
3  1.178709e+20     Ginger Kinyon       1
4  1.103973e+20  Angeles Arellano       1

                                                text  \
0  The pharmacist, Erin, is phenomenal. She was s...
1  I gave them 2 stars because they offer prescri...
2  If I could put minus stars I would. This has t...
3                     Please fix your restroom doors
4  This pharmacy Walmart dose not work not come a...

                                 gmap_id
0  0x864c3998b8d8dc83:0x57ffabe1e2322320
1  0x864c3998b8d8dc83:0x57ffabe1e2322320
2  0x864c3998b8d8dc83:0x57ffabe1e2322320
3  0x864c3998b8d8dc83:0x57ffabe1e2322320
4  0x864c3998b8d8dc83:0x57ffabe1e2322320

In [21]:
df_Texas.to_parquet('C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Texas/df_Texas.parquet')

---

ETL Reviews-Illinois

In [23]:
import os  

# Definir la función para procesar cada archivo JSON  
def procesar_json(archivo):  
    # Leer el archivo JSON  
    df = pd.read_json(archivo, lines=True)  
    
    # Mostrar información y estadísticas del DataFrame  
    print(f"Procesando: {archivo}")  
    print(df.info())  
    print("Valores nulos en cada columna:")  
    print(df.isnull().sum())  
    
    # Eliminar columnas 'time', 'pics' y 'resp'  
    df = df.drop(columns=['time', 'pics', 'resp'], errors='ignore')  # errors='ignore' para evitar errores si no existen  
    
    # Reemplazar los valores nulos en la columna 'text'  
    df['text'] = df['text'].fillna('sin comentario')  
    
    return df  

# Ruta de la carpeta que contiene los archivos JSON  
ruta_carpeta = "C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/"  

# Crear una lista para almacenar los DataFrames  
lista_dfs = []  

# Iterar sobre los archivos en la carpeta  
for archivo in os.listdir(ruta_carpeta):  
    if archivo.endswith('.json'):  
        ruta_archivo = os.path.join(ruta_carpeta, archivo)  
        df_procesado = procesar_json(ruta_archivo)  
        lista_dfs.append(df_procesado)  

# Concatenar todos los DataFrames en uno solo  
df_Illinois = pd.concat(lista_dfs, ignore_index=True)  

# Mostrar el DataFrame final  
print(df_Illinois.head())

Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/1.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86973 non-null   object
 5   pics     3712 non-null    object
 6   resp     22669 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63027
pics       146288
resp       127331
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/10.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87067 non-null   object
 5   pics     4145 non-null    object
 6   resp     20000 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62933
pics       145855
resp       130000
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/11.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86087 non-null   object
 5   pics     4040 non-null    object
 6   resp     18998 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63913
pics       145960
resp       131002
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/12.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82403 non-null   object
 5   pics     3963 non-null    object
 6   resp     17067 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67597
pics       146037
resp       132933
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/13.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     83134 non-null   object
 5   pics     3922 non-null    object
 6   resp     18646 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        66866
pics       146078
resp       131354
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/14.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     81243 non-null   object
 5   pics     3662 non-null    object
 6   resp     18642 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        68757
pics       146338
resp       131358
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/2.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85584 non-null   object
 5   pics     3809 non-null    object
 6   resp     21302 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64416
pics       146191
resp       128698
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/3.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87512 non-null   object
 5   pics     3852 non-null    object
 6   resp     20767 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62488
pics       146148
resp       129233
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/4.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     84152 non-null   object
 5   pics     3956 non-null    object
 6   resp     15552 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        65848
pics       146044
resp       134448
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/5.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     85347 non-null   object
 5   pics     4487 non-null    object
 6   resp     18295 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        64653
pics       145513
resp       131705
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/6.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82635 non-null   object
 5   pics     4158 non-null    object
 6   resp     15987 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        67365
pics       145842
resp       134013
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/7.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     79334 non-null   object
 5   pics     4910 non-null    object
 6   resp     10854 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        70666
pics       145090
resp       139146
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/8.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     89633 non-null   object
 5   pics     5713 non-null    object
 6   resp     17200 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        60367
pics       144287
resp       132800
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/9.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     86678 non-null   object
 5   pics     4045 non-null    object
 6   resp     19140 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        63322
pics       145955
resp       130860
gmap_id         0
dtype: int64
        user_id             name  rating  \
0  1.094426e+20    Jim LeBurkien       5
1  1.009245e+20     Steve Muscat       5
2  1.008140e+20  Fletcher Oliver       5
3  1.101685e+20    Daniel Chavez       5
4  1.089906e+20  David Ferdinand       4

                                                text  \
0  Great selection of used and collectible toys. ...
1                           Great visit as usual. 👍😊
2                                     sin comentario
3                                     sin comentario
4                                     sin comentario

                                 gmap_id
0  0x880f0f1b32155555:0x8347e0c971acb955
1  0x880f0f1b32155555:0x8347e0c971acb955
2  0x880f0f1b32155555:0x8347e0c971acb955
3  0x880f0f1b32155555:0x8347e0c971acb955
4  0x880f0f1b32155555:0x8347e0c971acb955

In [24]:
df_Illinois.to_parquet('C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Illinois/df_Illinois.parquet')

---

ETL Reviews-Arizona

In [27]:
import os  

# Definir la función para procesar cada archivo JSON  
def procesar_json(archivo):  
    # Leer el archivo JSON  
    df = pd.read_json(archivo, lines=True)  
    
    # Mostrar información y estadísticas del DataFrame  
    print(f"Procesando: {archivo}")  
    print(df.info())  
    print("Valores nulos en cada columna:")  
    print(df.isnull().sum())  
    
    # Eliminar columnas 'time', 'pics' y 'resp'  
    df = df.drop(columns=['time', 'pics', 'resp'], errors='ignore')  # errors='ignore' para evitar errores si no existen  
    
    # Reemplazar los valores nulos en la columna 'text'  
    df['text'] = df['text'].fillna('sin comentario')  
    
    return df  

# Ruta de la carpeta que contiene los archivos JSON  
ruta_carpeta = "C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/"  

# Crear una lista para almacenar los DataFrames  
lista_dfs = []  

# Iterar sobre los archivos en la carpeta  
for archivo in os.listdir(ruta_carpeta):  
    if archivo.endswith('.json'):  
        ruta_archivo = os.path.join(ruta_carpeta, archivo)  
        df_procesado = procesar_json(ruta_archivo)  
        lista_dfs.append(df_procesado)  

# Concatenar todos los DataFrames en uno solo  
df_Arizona = pd.concat(lista_dfs, ignore_index=True)  

# Mostrar el DataFrame final  
print(df_Arizona.head())

Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/1.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     99042 non-null   object
 5   pics     4468 non-null    object
 6   resp     32403 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        50958
pics       145532
resp       117597
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/10.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     89653 non-null   object
 5   pics     4722 non-null    object
 6   resp     25634 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        60347
pics       145278
resp       124366
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/11.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91207 non-null   object
 5   pics     4798 non-null    object
 6   resp     24805 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58793
pics       145202
resp       125195
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/12.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87558 non-null   object
 5   pics     4848 non-null    object
 6   resp     17103 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62442
pics       145152
resp       132897
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/13.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     77846 non-null   object
 5   pics     3113 non-null    object
 6   resp     10578 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        72154
pics       146887
resp       139422
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/14.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     77479 non-null   object
 5   pics     3392 non-null    object
 6   resp     20124 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        72521
pics       146608
resp       129876
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/2.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     97354 non-null   object
 5   pics     4218 non-null    object
 6   resp     30992 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        52646
pics       145782
resp       119008
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/3.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91791 non-null   object
 5   pics     4675 non-null    object
 6   resp     25920 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58209
pics       145325
resp       124080
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/4.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     87167 non-null   object
 5   pics     4477 non-null    object
 6   resp     19674 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        62833
pics       145523
resp       130326
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/5.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     88369 non-null   object
 5   pics     4833 non-null    object
 6   resp     18670 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        61631
pics       145167
resp       131330
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/6.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     98754 non-null   object
 5   pics     5953 non-null    object
 6   resp     27677 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        51246
pics       144047
resp       122323
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/7.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     96901 non-null   object
 5   pics     4806 non-null    object
 6   resp     29828 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        53099
pics       145194
resp       120172
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/8.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     93631 non-null   object
 5   pics     4855 non-null    object
 6   resp     29611 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        56369
pics       145145
resp       120389
gmap_id         0
dtype: int64
Procesando: C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/9.json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     91064 non-null   object
 5   pics     4713 non-null    object
 6   resp     26130 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB
None
Valores nulos en cada columna:
user_id         0
name            0
time            0
rating          0
text        58936
pics       145287
resp       123870
gmap_id         0
dtype: int64
        user_id          name  rating  \
0  1.183560e+20  Vicki Ullery       5
1  1.126523e+20    Doc Kovacs       5
2  1.089879e+20    Pedro Diaz       1
3  1.069277e+20   Brandon Ray       5
4  1.090535e+20    T. Bennett       5

                                                text  \
0  Gwen was so informative and made me feel comfo...
1  Dr. Huyhn is an ethical skilled dentist. Her s...
2  Not sure if one star is fair but my situation ...
3  Best dentist office I've ever had. Love everyt...
4  I've been coming to Oasis dentistry for a whil...

                                 gmap_id
0  0x872b5dae3c5fcfa7:0xf0f8b286a2537821
1  0x872b5dae3c5fcfa7:0xf0f8b286a2537821
2  0x872b5dae3c5fcfa7:0xf0f8b286a2537821
3  0x872b5dae3c5fcfa7:0xf0f8b286a2537821
4  0x872b5dae3c5fcfa7:0xf0f8b286a2537821

In [28]:
df_Arizona.to_parquet('C:/Users/juanv/Downloads/proyecto final/google/reviews-estados/review-Arizona/df_Arizona.parquet')