In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
texas = pd.read_csv('./Datasets_limpios/Google/reviews_tx.csv')
new_york = pd.read_csv('./Datasets_limpios/Google/reviews_ny.csv')
illinois = pd.read_csv('./Datasets_limpios/Google/reviews_il.csv')
florida = pd.read_csv('./Datasets_limpios/Google/reviews_fl.csv')
california = pd.read_csv('./Datasets_limpios/Google/reviews_ca.csv')
arizona = pd.read_csv('./Datasets_limpios/Google/reviews_az.csv')

In [3]:
reviews = pd.concat([texas, new_york, illinois, florida, california, arizona], ignore_index=True)

In [4]:
reviews.head()

,gmap_id,user_id,name,rating,text,state_usa
0,0x864c264d6967b3dd:0xe0d905846ed5958d,1.030556e+20,Cure F. Reaky,5,It's not called Michael's Grill anymore. Now i...,TX
1,0x864c264d6967b3dd:0xe0d905846ed5958d,1.009433e+20,Nancy Logan,4,This is a Great Spot for Happy Hour and Dinner...,TX
2,0x864c264d6967b3dd:0xe0d905846ed5958d,1.001020e+20,David “Waynemay” Seitz,5,Today I ordered the T-bone and shrimp with Pec...,TX
3,0x864c264d6967b3dd:0xe0d905846ed5958d,1.048123e+20,Adam Dickerson,5,FULL BAR!! Great staff and good food. Did I me...,TX
4,0x864c264d6967b3dd:0xe0d905846ed5958d,1.132876e+20,Joshua 1:9,2,Not happy I could have got a full tank of gas ...,TX

In [6]:
users = reviews[['user_id', 'name']]

In [7]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890417 entries, 0 to 890416
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  890417 non-null  float64
 1   name     890414 non-null  object
dtypes: float64(1), object(1)
memory usage: 13.6+ MB

In [8]:
conteo_duplicados = users['user_id'].duplicated().sum()
conteo_duplicados

np.int64(388017)

In [9]:
users = users.drop_duplicates(subset='user_id')

In [10]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 502400 entries, 0 to 890416
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  502400 non-null  float64
 1   name     502398 non-null  object
dtypes: float64(1), object(1)
memory usage: 11.5+ MB

In [11]:
# Renombre de la columna para poder unirlas
users = users.rename(columns={'name': 'user_name'})

In [12]:
users.to_csv('./Datasets_limpios/users.csv', index=False)

In [13]:
reviews.head()

,gmap_id,user_id,name,rating,text,state_usa
0,0x864c264d6967b3dd:0xe0d905846ed5958d,1.030556e+20,Cure F. Reaky,5,It's not called Michael's Grill anymore. Now i...,TX
1,0x864c264d6967b3dd:0xe0d905846ed5958d,1.009433e+20,Nancy Logan,4,This is a Great Spot for Happy Hour and Dinner...,TX
2,0x864c264d6967b3dd:0xe0d905846ed5958d,1.001020e+20,David “Waynemay” Seitz,5,Today I ordered the T-bone and shrimp with Pec...,TX
3,0x864c264d6967b3dd:0xe0d905846ed5958d,1.048123e+20,Adam Dickerson,5,FULL BAR!! Great staff and good food. Did I me...,TX
4,0x864c264d6967b3dd:0xe0d905846ed5958d,1.132876e+20,Joshua 1:9,2,Not happy I could have got a full tank of gas ...,TX

In [14]:
reviews.drop(columns=['name'], inplace=True)

In [15]:
reviews.columns

Index(['gmap_id', 'user_id', 'rating', 'text', 'state_usa'], dtype='object')

In [16]:
nuevo_orden = ['gmap_id','user_id', 'rating', 'text', 'state_usa']
reviews = reviews.reindex(columns=nuevo_orden)

In [17]:
reviews.head(2)

,gmap_id,user_id,rating,text,state_usa
0,0x864c264d6967b3dd:0xe0d905846ed5958d,1.030556e+20,5,It's not called Michael's Grill anymore. Now i...,TX
1,0x864c264d6967b3dd:0xe0d905846ed5958d,1.009433e+20,4,This is a Great Spot for Happy Hour and Dinner...,TX

In [18]:
reviews = reviews.rename(columns={'gmap_id':'restaurant_id', 'state_usa':'state'})

In [19]:
reviews.head(2)

,restaurant_id,user_id,rating,text,state
0,0x864c264d6967b3dd:0xe0d905846ed5958d,1.030556e+20,5,It's not called Michael's Grill anymore. Now i...,TX
1,0x864c264d6967b3dd:0xe0d905846ed5958d,1.009433e+20,4,This is a Great Spot for Happy Hour and Dinner...,TX

In [20]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890417 entries, 0 to 890416
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   restaurant_id  890417 non-null  object
 1   user_id        890417 non-null  float64
 2   rating         890417 non-null  int64
 3   text           890406 non-null  object
 4   state          890417 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 34.0+ MB

In [21]:
reviews['user_id'] = reviews['user_id'].astype(str)

In [30]:
reviews

,review_id,restaurant_id,user_id,rating,text,state
0,0x86_1.03,0x864c264d6967b3dd:0xe0d905846ed5958d,1.0305562873800326e+20,5,It's not called Michael's Grill anymore. Now i...,TX
1,0x86_1.00,0x864c264d6967b3dd:0xe0d905846ed5958d,1.0094325389709902e+20,4,This is a Great Spot for Happy Hour and Dinner...,TX
2,0x86_1.00,0x864c264d6967b3dd:0xe0d905846ed5958d,1.0010199990289111e+20,5,Today I ordered the T-bone and shrimp with Pec...,TX
3,0x86_1.04,0x864c264d6967b3dd:0xe0d905846ed5958d,1.0481225291741938e+20,5,FULL BAR!! Great staff and good food. Did I me...,TX
4,0x86_1.13,0x864c264d6967b3dd:0xe0d905846ed5958d,1.1328756316007318e+20,2,Not happy I could have got a full tank of gas ...,TX
...,...,...,...,...,...,...
890412,0x87_1.15,0x872b6c8443efcaa7:0x8077bffd4338470f,1.1540052089775423e+20,4,sin comentario,AZ
890413,0x87_1.14,0x872b6c8443efcaa7:0x8077bffd4338470f,1.1446507953485056e+20,2,sin comentario,AZ
890414,0x87_1.10,0x872b6c8443efcaa7:0x8077bffd4338470f,1.1095255445261412e+20,4,sin comentario,AZ
890415,0x87_1.04,0x872b6c8443efcaa7:0x8077bffd4338470f,1.0408581392218374e+20,3,sin comentario,AZ
890416,0x87_1.02,0x872b6c8443efcaa7:0x8077bffd4338470f,1.0212406009983166e+20,4,sin comentario,AZ

In [29]:
conteo_restaurants = reviews['restaurant_id'].nunique()
conteo_restaurants

5934

In [31]:
# Extraer los primeros 4 caracteres y crear el ID
reviews['review_id'] = reviews['restaurant_id'].str[:10] + '_' + reviews['user_id'].str[:10]

In [32]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890417 entries, 0 to 890416
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   review_id      890417 non-null  object
 1   restaurant_id  890417 non-null  object
 2   user_id        890417 non-null  object
 3   rating         890417 non-null  int64
 4   text           890406 non-null  object
 5   state          890417 non-null  object
dtypes: int64(1), object(5)
memory usage: 40.8+ MB

In [33]:
nuevo_orden = ['review_id', 'restaurant_id','user_id', 'rating', 'text', 'state']
reviews = reviews.reindex(columns=nuevo_orden)

In [34]:
reviews.head(2)

,review_id,restaurant_id,user_id,rating,text,state
0,0x864c264d_1.03055628,0x864c264d6967b3dd:0xe0d905846ed5958d,1.0305562873800326e+20,5,It's not called Michael's Grill anymore. Now i...,TX
1,0x864c264d_1.00943253,0x864c264d6967b3dd:0xe0d905846ed5958d,1.0094325389709902e+20,4,This is a Great Spot for Happy Hour and Dinner...,TX

In [35]:
reviews.drop(columns=['state'], inplace= True)

In [36]:
reviews.to_csv('./Datasets_limpios/reviews.csv', index=False)