In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Lista de estados, abreviaturas y un rango de IDs
data = {'state_id': range(1, 7), 'state_name': ['Florida', 'California', 'Texas', 'New York', 'Illinois', 'Arizona'],
        'abbreviation': ['FL', 'CA', 'TX', 'NY', 'IL', 'AZ']
        }

# Crear el DataFrame
states = pd.DataFrame(data)

In [3]:
states

   state_id  state_name abbreviation
0         1     Florida           FL
1         2  California           CA
2         3       Texas           TX
3         4    New York           NY
4         5    Illinois           IL
5         6     Arizona           AZ

In [4]:
states.to_csv('./Datasets_limpios/states.csv', index=False)

In [5]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state_id      6 non-null      int64
 1   state_name    6 non-null      object
 2   abbreviation  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [6]:
censo_agrupado = pd.read_csv('./Datasets_limpios/censo.csv')

In [7]:
censo_agrupado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3219 entries, 0 to 3218
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_name           3219 non-null   object
 1   county_name          3219 non-null   object
 2   total_population     3219 non-null   int64
 3   hispanic_population  3219 non-null   float64
 4   avg_income           3219 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 125.9+ KB

In [8]:
states = pd.merge(censo_agrupado, states, on='state_name', how='inner')

In [9]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_name           558 non-null    object
 1   county_name          558 non-null    object
 2   total_population     558 non-null    int64
 3   hispanic_population  558 non-null    float64
 4   avg_income           558 non-null    float64
 5   state_id             558 non-null    int64
 6   abbreviation         558 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 30.6+ KB

In [10]:
nuevo_orden = ['state_id', 'state_name', 'abbreviation', 'county_name', 'total_population', 'hispanic_population', 'avg_income']
states = states.reindex(columns=nuevo_orden)

In [11]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state_id             558 non-null    int64
 1   state_name           558 non-null    object
 2   abbreviation         558 non-null    object
 3   county_name          558 non-null    object
 4   total_population     558 non-null    int64
 5   hispanic_population  558 non-null    float64
 6   avg_income           558 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 30.6+ KB

In [18]:
states['avg_income'] = states['avg_income'].round(2)
states['hispanic_population'] = states['hispanic_population'].round().astype(int)

In [19]:
states.head()

,state_id,state_name,abbreviation,county_name,total_population,hispanic_population,avg_income
0,6,Arizona,AZ,Apache,71602,4489,32268.56
1,6,Arizona,AZ,Cochise,126516,46922,46720.84
2,6,Arizona,AZ,Coconino,138639,17820,53475.04
3,6,Arizona,AZ,Gila,53145,11021,39595.31
4,6,Arizona,AZ,Graham,37700,12202,47477.33

In [14]:
states['county_name'] = states['county_name'].str.replace('County', '')

In [20]:
states.head()

,state_id,state_name,abbreviation,county_name,total_population,hispanic_population,avg_income
0,6,Arizona,AZ,Apache,71602,4489,32268.56
1,6,Arizona,AZ,Cochise,126516,46922,46720.84
2,6,Arizona,AZ,Coconino,138639,17820,53475.04
3,6,Arizona,AZ,Gila,53145,11021,39595.31
4,6,Arizona,AZ,Graham,37700,12202,47477.33

In [21]:
states.to_csv('./Datasets_limpios/states.csv', index=False)